body{
    font-family: 'Anonymous Pro', monospace;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	min-height: 1800px;
}

* {
	margin: 0;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

body > * {
	margin-left: 0;
	margin-right: 0;
	margin: 0;
}


.head {
	position: fixed;
	top: 0;
	width: 100%;
	color: white;
	background-color: black;
	background-size: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	transition: 0.3s;
	display: inline-block;
}

.head > a {
	display: inline-block;
	text-decoration: none;
	color: black;
	transition: 0.3s;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 1em;
}

.head:hover {
	padding-top: 1em;
	padding-bottom: 1em;
}

.head:hover > * {
	color: white;
}

.head > a:hover {
	color: gray;
}

#site {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 2em;
	color: white;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 0;
}







